NearSociety2/.editorconfig
NearSociety2/.env.example
NearSociety2/.gitattributes
NearSociety2/.gitignore
NearSociety2/artisan
NearSociety2/composer.json
NearSociety2/composer.lock
NearSociety2/package.json
NearSociety2/phpunit.xml
NearSociety2/README.md
NearSociety2/vite.config.js
NearSociety2/app/Console/Kernel.php
NearSociety2/app/Exceptions/Handler.php
NearSociety2/app/Http/Kernel.php
NearSociety2/app/Http/Controllers/Controller.php
NearSociety2/app/Http/Controllers/RegistroController.php
NearSociety2/app/Http/Middleware/Authenticate.php
NearSociety2/app/Http/Middleware/EncryptCookies.php
NearSociety2/app/Http/Middleware/PreventRequestsDuringMaintenance.php
NearSociety2/app/Http/Middleware/RedirectIfAuthenticated.php
NearSociety2/app/Http/Middleware/TrimStrings.php
NearSociety2/app/Http/Middleware/TrustHosts.php
NearSociety2/app/Http/Middleware/TrustProxies.php
NearSociety2/app/Http/Middleware/ValidateSignature.php
NearSociety2/app/Http/Middleware/VerifyCsrfToken.php
NearSociety2/app/Models/User.php
NearSociety2/app/Providers/AppServiceProvider.php
NearSociety2/app/Providers/AuthServiceProvider.php
NearSociety2/app/Providers/BroadcastServiceProvider.php
NearSociety2/app/Providers/EventServiceProvider.php
NearSociety2/app/Providers/RouteServiceProvider.php
NearSociety2/bootstrap/app.php
NearSociety2/bootstrap/cache/.gitignore
NearSociety2/config/app.php
NearSociety2/config/auth.php
NearSociety2/config/broadcasting.php
NearSociety2/config/cache.php
NearSociety2/config/cors.php
NearSociety2/config/database.php
NearSociety2/config/filesystems.php
NearSociety2/config/hashing.php
NearSociety2/config/logging.php
NearSociety2/config/mail.php
NearSociety2/config/queue.php
NearSociety2/config/sanctum.php
NearSociety2/config/services.php
NearSociety2/config/session.php
NearSociety2/config/view.php
NearSociety2/config/voyager.php
NearSociety2/database/.gitignore
NearSociety2/database/factories/UserFactory.php
NearSociety2/database/migrations/2014_10_12_000000_create_users_table.php
NearSociety2/database/migrations/2014_10_12_100000_create_password_reset_tokens_table.php
NearSociety2/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
NearSociety2/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
NearSociety2/database/seeders/DatabaseSeeder.php
NearSociety2/database/seeders/DataRowsTableSeeder.php
NearSociety2/database/seeders/DataTypesTableSeeder.php
NearSociety2/database/seeders/MenuItemsTableSeeder.php
NearSociety2/database/seeders/MenusTableSeeder.php
NearSociety2/database/seeders/PermissionRoleTableSeeder.php
NearSociety2/database/seeders/PermissionsTableSeeder.php
NearSociety2/database/seeders/RolesTableSeeder.php
NearSociety2/database/seeders/SettingsTableSeeder.php
NearSociety2/database/seeders/TranslationsTableSeeder.php
NearSociety2/database/seeders/VoyagerDatabaseSeeder.php
NearSociety2/database/seeders/VoyagerDummyDatabaseSeeder.php
NearSociety2/public/.htaccess
NearSociety2/public/favicon.ico
NearSociety2/public/index.php
NearSociety2/public/robots.txt
NearSociety2/resources/css/app.css
NearSociety2/resources/js/app.js
NearSociety2/resources/js/bootstrap.js
NearSociety2/resources/views/home.blade.php
NearSociety2/resources/views/registro.blade.php
NearSociety2/resources/views/welcome.blade.php
NearSociety2/resources/views/auth/login.blade.php
NearSociety2/resources/views/layouts/app.blade.php
NearSociety2/routes/api.php
NearSociety2/routes/channels.php
NearSociety2/routes/console.php
NearSociety2/routes/web.php
NearSociety2/storage/app/.gitignore
NearSociety2/storage/app/public/.gitignore
NearSociety2/storage/framework/.gitignore
NearSociety2/storage/framework/cache/.gitignore
NearSociety2/storage/framework/cache/data/.gitignore
NearSociety2/storage/framework/sessions/.gitignore
NearSociety2/storage/framework/testing/.gitignore
NearSociety2/storage/framework/views/.gitignore
NearSociety2/storage/logs/.gitignore
NearSociety2/tests/CreatesApplication.php
NearSociety2/tests/TestCase.php
NearSociety2/tests/Feature/ExampleTest.php
NearSociety2/tests/Unit/ExampleTest.php
